<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Users</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <th:block th:each="user1 : ${users}">
        <tr>
            <td><th:block th:text="${user1.getName()}"></th:block></td>
            <td><th:block th:text="${user1.getAge()}"></th:block></td>
            <td><th:block th:text="${user1.password}"></th:block></td>
            <td ><p th:each="user2 : ${user1.roles}" th:text="${#strings.replace(user2.roleName, 'ROLE_', '')}"></p></td>
            <td><th:block><a th:href="@{/admin/delete(id=${user1.getId()})}">Delete</a></th:block></td>
            <td><th:block><a th:href="@{/admin/updateUser(id=${user1.getId()})}">Edit</a></th:block></td>
        </tr>
    </th:block>
</table>
<br>

<h2>Create new user:</h2>
<form action="#" th:action="@{/admin/addUser}" method="post">
    <table border="1">
        <tr>
            <th>Name:</th>
            <th><input type="text" th:field="${user.name}" required/></th>
        </tr>
        <tr>
            <th>Age:</th>
            <th><input type="text" th:field="${user.age}" required/></th>
        </tr>
        <tr>
            <th>Password:</th>
            <th><input type="text" th:field="${user.password}" required/></th>
        </tr>
        <tr>
            <th>Role:</th>
            <th>
                <select th:name="roleName", size="2" required>
                    <option th:each="role : ${roles}"
                            th:value="${role.roleName}"
                            th:utext="${#strings.replace(role.roleName, 'ROLE_', '')}"></option>
                </select></th>
        </tr>
    </table>
    <p><input type="submit" value="Accept" /></p>
</form>

<th:block><a th:href="@{/logout}">Exit</a></th:block>
</body>
</html>