<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Update the information about user:</h1>
<form action="#" th:action="@{/admin/saveUser}" method="post">
    <table border="1">
        <input type="hidden" th:field="${userUpdate.id}"/>
        <tr>
            <th>Name:</th>
            <th><input type="text" th:field="${userUpdate.name}"/></th>
        </tr>
        <tr>
            <th>Age:</th>
            <th><input type="text" th:field="${userUpdate.age}"/></th>
        </tr>
        <tr>
            <th>Password:</th>
            <th><input type="text" th:field="${userUpdate.password}" /></th>
        </tr>
        <tr>
            <th>Role:</th>
            <th>
                <select th:name="roleName">
                    <option th:each="role : ${roles}"
                            th:value="${role.roleName}"
                            th:utext="${#strings.replace(role.roleName, 'ROLE_', '')}"></option>
                </select></th>
        </tr>
    </table>
    <p><input type="submit" value="Accept" /></p>
</form>
<br>
<th:block><a th:href="@{/logout}">Exit</a></th:block>

</body>
</html>